#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2013 PhobosK <phobosk@kbfx.net>
# Description: Debian packaging rules for webcamstudio
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

JAVA_HOME := /usr/lib/jvm/default-java
DEB_ANT_BUILD_TARGET := jar
DEB_JARS := AbsoluteLayout \
  AppFramework \
  commons-cli \
  commons-codec \
  commons-httpclient \
  commons-lang3 \
  jcl-over-slf4j \
  jsr305 \
  log4j-1.2 \
  netty \
  slf4j-api \
  slf4j-log4j12 \
  swing-worker

clean::
	# Clean the libwebcamstudio helper
	$(MAKE) -C vloopback clean-libwebcamstudio

build/webcamstudio::
	$(MAKE) -C vloopback libwebcamstudio

install/webcamstudio::
	# Install the libwebcamstudio helper
	dh_install -p$(cdbs_curpkg) vloopback/libwebcamstudio.so* usr/lib
	# Copy the Opencv library
ifeq ($(DEB_BUILD_ARCH),amd64)
	dh_install -p$(cdbs_curpkg) --sourcedir=$(CURDIR) Opencv-Natives/x64/libopencv_java248.so usr/lib
else # i386
	dh_install -p$(cdbs_curpkg) --sourcedir=$(CURDIR) Opencv-Natives/x86/libopencv_java248.so usr/lib
endif

debian/webcamstudio-dkms.dkms: debian/webcamstudio-dkms.dkms.in
	sed \
	  -e s/@PACKAGE_NAME@/$(DEB_SOURCE_PACKAGE)/g \
	  -e s/@PACKAGE_VERSION@/$(DEB_UPSTREAM_VERSION)/g $< > $@

install/webcamstudio-dkms:: debian/webcamstudio-dkms.dkms
	# Create the webcamstudio-dkms package.
	dh_install -p$(cdbs_curpkg) vloopback/README usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	dh_install -p$(cdbs_curpkg) vloopback/Makefile usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	dh_install -p$(cdbs_curpkg) vloopback/webcamstudio.c  usr/src/$(DEB_SOURCE_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	dh_dkms -p$(cdbs_curpkg)
	-rm $<
