Source: webcamstudio
Section: video
Priority: optional
Maintainer: WebcamStudio Team <webcamstudio@lists.launchpad.net>
Build-Depends: debhelper (>= 7.2.7~),
  cdbs (>= 0.4.69~),
  dkms (>= 2.1.1.1),
  devscripts,
  bzip2,
  subversion,
  linux-headers-generic,
  ant,
  default-jdk,
  openjdk-7-jdk,
  libappframework-java,
  libcommons-cli-java,
  libcommons-codec-java,
  libcommons-httpclient-java,
  libcommons-lang3-java,
  libjsr305-java,
  liblog4j1.2-java,
  libnb-absolutelayout-java,
  libnetty-java,
  libslf4j-java,
  libswingworker-java,
  junit
Standards-Version: 3.9.3
Homepage: https://code.google.com/p/webcamstudio
Vcs-Svn: http://webcamstudio.googlecode.com/svn/trunk
Vcs-Browser: https://code.google.com/p/webcamstudio/source/browse

Package: webcamstudio
Architecture: amd64 i386
Depends: openjdk-7-jre,
  java-wrappers,
  libappframework-java,
  libcommons-cli-java,
  libcommons-codec-java,
  libcommons-httpclient-java,
  libcommons-lang3-java,
  libjsr305-java,
  liblog4j1.2-java,
  libnb-absolutelayout-java,
  libnetty-java,
  libslf4j-java,
  libswingworker-java,
  libav-tools | ffmpeg,
  libavformat-extra-53 | libavformat-extra-54 | libavformat56,
  gstreamer-tools,
  gstreamer0.10-plugins-good,
  gstreamer0.10-plugins-bad,
  gstreamer0.10-plugins-bad-multiverse,
  gstreamer0.10-plugins-ugly,
  gstreamer0.10-pulseaudio,
  gstreamer0.10-gnonlin,
  gstreamer0.10-fluendo-mp3,
  gstreamer1.0-tools,
  gstreamer1.0-gnonlin,
  gstreamer1.0-alsa,
  gstreamer1.0-fluendo-mp3,
  gksu,
  pavucontrol,
  pulseaudio-utils,
  dvgrab,
  zenity,
  wmctrl,
  ${shlibs:Depends},
  ${misc:Depends}
Recommends: webcamstudio-dkms | v4l2loopback-dkms,
  ${shlibs:Recommends}
Suggests: ffmpeg | ffmpeg-real,
  ${shlibs:Suggests}
Description: Creates virtual webcam to broadcast over the internet.
 WebcamStudio is a virtual webcam software that can be used with Skype or a
 flash website like UStream, to create a professional looking broadcast, 
 including banners, animations, transit animations and icons, etc.
 .
 This tool is not meant as a video editor but as a live video mixer giving you
 the possibilities to change the look of the broadcast on the fly.
 .
 Some of the features include:
   - Switch webcams on a single click
   - Show an IRC channel in your video broadcast (to do)
   - Broadcast your desktop for creation of nice HOWTO's
   - Be creative and put animations and banners
   - Display what song is currently played by Rhythmbox (to do)
   - Co-host a remote friend, show his webcam inside your output (PicInPic?)
   - Connect to WeatherBug and display your current weather (to do)
   - Apply some fancy effects on each source
   - Have a green wall, then why not use the ChromaKey effect to do the same as
   the weather man on the news network
   - Use all kinds of devices as webcamera like a MiniDV, your iPhone, etc.
 .
 This package provides the binaries for WebcamStudio. Either the 
 webcamstudio-dkms or the v4l2loopback-dkms package is also required in order
 to use WebcamStudio.

Package: webcamstudio-dkms
Section: kernel
Architecture: all
Depends: dkms (>= 2.1.1.1),
  python-apport, 
  ${misc:Depends}
Suggests: webcamstudio
Description: Source for the webcamstudio driver (DKMS)
 This module allows you to create "virtual video devices".
 Normal (v4l2) applications will read these devices as if they were ordinary
 video devices, but the video will not be read from e.g. a capture card but
 instead it is generated by another application.
 .
 This package provides the source code for the WebcamStudio kernel modules
 to be build with dkms.
 .
 You can also use the v4l2loopback-dkms package instead of this one.
