[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=WebcamStudio Vloopback Installer
Type=Application
Terminal=false
Icon=webcamstudio.png
Exec=/usr/bin/webcamstudio-x-install-vloopback
Comment=WebcamStudio for GNU/Linux! VLoopback Installer
Categories=Application;AudioVideo;
